.product-card-cart {
  box-sizing: border-box;
  padding: 1rem;

  margin: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  img {
    width: 15%;
  }

  h5 {
    margin: 0 10px;
  }

  p {
    margin: 0;
  }
}