.cart {
  box-sizing: border-box;
  min-width: 20%;

  background-color: white;

  h2 {
    box-sizing: border-box;
    margin: 15px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #282c34;
  }

  .cart-header-product {
    display: flex;
    justify-content: space-between;
    margin: 15px;

    h3 {
      font-size: 1rem;
    }
  }

  .total-price {
    margin: 15px;
    h3 {
      text-align: end;

      span {
        color: coral;
        padding-left: 15px;
      }
    }
  }
}