.card {
  width: 350px;
  height: 350px;
  border: none;

  padding: 1rem;
  margin: 15px;

  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);

  .card-body {
    height: 50%;

    .card-img-top {
      height: 100%;
      width: auto;
    }
  }

  .product-card {
    display: flex;
    justify-content: center;
  }

  .card-title {
    text-align: center;

    font-size: 1rem;
  }

  .card-price-container {
    display: flex;
    justify-content: center;

    .card-current-price {
      padding: 5px;
      color: coral;
    }

    .card-last-price {
      padding: 5px;
      text-decoration: line-through;
      font-size: .8rem;
      align-self: center;
    }

  }

  .btn-primary {
    display: none;

    width: 100%;

    color: #282c34;

    background-color: coral;
    border: none;
  }
}

.card:hover {
  .btn-primary {
    display: block;
  }
}